// Colors
$light-100: #f7f7f7;
$dark-100: #202020;
$purple-100: #84e;
$purple-shadow-100: #6d5f8359;
$grey-100: #e5def1;
$green: #44ee4a;
$red: #ee4444;

// Fonts
$font-body: 'Roboto', sans-serif;
